# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Data files
*.csv
*.npy
*.pkl

# OS files
.DS_Store
Thumbs.db